

h1 {
    text-align: center;
}


div.contenedor {
    display: flex;
    justify-content: space-around;
}

div.contenedor > div {
    width: 40%;
}

div.fruta {
    background-color: beige;
    margin-bottom: 15px;
}

div.frutaSeleccionada {
    background-color: greenyellow;
    margin-bottom: 15px;
}