<!DOCTYPE html>

<html>

<head>
    <title><%= titol %></title>

</head>

<body>
    <br>
    <h1><%= titol %></h1>
    <br>
    <br>
    
    <ul>
        <% ciutats.forEach( el => {%>
            <li><%= el %></li>
        <% }) %> 
    </ul>
    <br>
    <br>

   
</body>

</html>