<!DOCTYPE html>

<html>

<head>
    <title><%= titol %></title>
</head>

<body>
    <br>
    <h1><%= titol %></h1>
    <br>
    <img src="<%= img %>" width="50%"/>
    <br>
    <br>
    <br>
</body>

</html>