

div.bola {
    height: 40px;
    width: 40px;
    display: inline-block;
    font-size: 30px;
    line-height: 40px;
    background-color: darkblue;
    color: white;
    text-align: center;
    border-radius: 40px;
    margin: 5px;
}