
div.capital {
    border: 1px solid black;
    padding: 5px;
    display: inline-block;
    text-align: center;
}

div.capital h1 {
    font-size: 50px;
    margin: 0;
}

div.capital p {
    margin: 0;
}